/* welcome to the style page */

/* THE GOOGLE FONTS:
font-family: 'Bungee Inline', cursive;
font-family: 'Hanalei Fill', cursive;
font-family: 'PT Mono', monospace;
font-family: 'Abril Fatface', cursive; 
font-family: 'Oswald', sans-serif;
*/


html {
    margin: 0;
    padding: 0;
}

body {
   
    /*background: cadetblue; /* fallback for old browsers */
    /*background: -webkit-linear-gradient(to top, #f1f2b5, #135058); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #f1f2b5, #135058); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: lightblue url("smallertrex.png") no-repeat fixed center; 
    background-size: cover; 
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    color: #fff;
    height: 100vh;
    text-align: center;
    font-size: 18px;
    z-index: 1;
    margin: 0;
    padding: 0;
}


.wrappper {
    width: 100%;
    margin: 0 auto;  
}

a:link { 
    text-decoration: none;
    color: lightsalmon;   
}

a:visited {
    text-decoration: none;
    color: lightsalmon;
}

a:hover {
    text-decoration: none;
    color: lightsalmon;
}

a:active {
    text-decoration: none;
    color: lightsalmon;
}

br {
    line-height: 1px;
}

h1, h2, h3 {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    text-transform: uppercase;
    margin: 5px 0;
    text-shadow: 2px 2px darkslategray;

}

h1 {
    font-size: 48px;
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    line-height: 40pt; 
    color: lightsalmon;
}

h2 {
    font-size: 24px;
    line-height: 12px;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
}

p {
    font-size: 12px;
}

#alphabet {
    margin: 25px auto;
    padding: 0;
    max-width: 760px;
}

#alphabet:after {
    content: "";
    display: table;
    clear: both;
}

#alphabet li {
    float: left;
    margin: 0 4px 10px 4px;
    list-style: none;
    width: 45px;
    height: 35px;
    padding-top: 15px;
    background: #fff;
    color: cadetblue;
    border-radius: 25px;
    border: solid 1px #fff;
    text-transform: capitalize;
    box-shadow: 2px 2px darkslategray;
}

#alphabet li:hover {
    background: darkslategray;
    border: solid 1px #fff;
    color: #fff;
}

#theWord {
    margin: 0;
    padding: 0;
    display: block;
}

#theWord li {
    position: relative;
    list-style: none;
    margin: 0;
    margin-top: 20px;
    display: inline-block;
    padding: 0 10px;
    font-family: 'Cousine', monospace;
    font-weight: 700;
    font-size: 48px;
    text-shadow: 2px 2px darkslategray;
    text-transform: capitalize;
}

#toptitle {
    max-width: 500px;
    background: linear-gradient(to bottom, rgba(0,0,0, .4), rgba(0, 0, 0, 0.1));
    z-index: 3;
    margin: 0 auto;
}

.active {
    opacity: 0.4;
    filter: alpha(opacity=40);
}

.active:hover {
    opacity: 0.2;
    filter: alpha(opacity=40);
}

#playerGuessesLeft {
    font-size: 24px;
    margin-bottom: 36px;
    margin-top: 32px;
    text-align: center;
    display: block;
    text-shadow: 1px 1px darkslategray;
}

button {
    border-radius: 45px;
    background: darkslategray;
    color: #fff;
    border: solid 1px #fff;
    text-decoration: none;
    font-size: 18px;
    padding: 18px 10px;
    width: 180px;
    margin: 10px;
    outline: none;
    box-shadow: 2px 2px darkslategray;
}

button:hover {
    background: #fff;
    border: solid 1px #fff;
    color: darkslategray;
}

.buttons {
    margin: auto;
    align-content: center;
}

 /*MODAL EXAMPLE FROM W3 SCHOOLS */

.modal {
    display: none; 
    position: fixed; 
    z-index: 5; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
    -webkit-animation-name: fadeIn; 
    -webkit-animation-duration: 0.5s;
    animation-name: fadeIn;
    animation-duration: 0.5s;
}
           
            /* in one example, instead of a close button handled in this fashion, they defined .modal-show{ display:show;} 
            as a different class and used javascript to add or remove said class */

.modalContent {
    background-color: #fefefe;
    background: url("modalbg.png") no-repeat left;
    background-size: cover;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid white;
    width: 480px; 
    min-height: 240px;
    border-radius: 40px;
    overflow: hidden;
    box-shadow: 6px 6px darkslategray;
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.5s;
    animation-name: slideIn;
    animation-duration: 0.5s;
}

.modalClose {
    color: white;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.modalClose:hover,
.modalClose:focus {
    text-decoration: none;
    cursor: pointer;
}
        
           
#modalText {
    font-size: 72pt;
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    background: linear-gradient(180deg, #ff7474, #e3dc8a, #5fe580);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: none;
    animation: titleColorRotation 7s ease infinite;
    background-size: 600% 600%;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: white;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 15px;
}

#modalTinyText {
    font-size: 8pt;
    margin-top: 16px;
    color: lightsalmon;
}

/*needed for the titleColorRotation animation up there -- thanks https://www.gradient-animator.com/ */
@-webkit-keyframes titleColorRotation { 
    0%{background-position:31% 0%}
    50%{background-position:70% 100%}
    100%{background-position:31% 0%}
}

@-moz-keyframes titleColorRotation { 
    0%{background-position:31% 0%}
    50%{background-position:70% 100%}
    100%{background-position:31% 0%}
}

@keyframes titleColorRotation { 
    0%{background-position:31% 0%}
    50%{background-position:70% 100%}
    100%{background-position:31% 0%}
}

@-webkit-keyframes slideIn {
    from {bottom: -300px; opacity: 0} 
    to {bottom: 0; opacity: 1}
}

@keyframes slideIn {
    from {bottom: -300px; opacity: 0}
    to {bottom: 0; opacity: 1}
}

@-webkit-keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
}

@keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
}

@media screen and (max-width: 768px) {

    h1 {
        font-size: 42px;
        font-family: 'Oswald', sans-serif;
        font-weight: 700;
    }

    #theWord {
        margin: 0;
        padding: 0;
        display: block;
    }

    #theWord li {
        position: relative;
        list-style: none;
        margin: 0;
        margin-top: 20px;
        margin-bottom: 10px;
        display: inline-block;
        padding: 0 5px;
        font-family: 'Cousine', monospace;
        font-weight: 700;
        font-size: 30px;
        text-shadow: 1px 1px darkslategray;
        text-transform: capitalize;
    }

    #toptitle {
        width: 100%;
        background: linear-gradient(to bottom, rgba(0,0,0, .4), rgba(0, 0, 0, 0.1));
        z-index: 3;
        margin: 0 auto;
    }
}